<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>clienys</title>
</head>
<body>
<div class="container-fluid" style=" padding-top: 8%;" th:fragment="clienys">
    <!-- Page Heading -->
    <p class="mb-1" style="visibility: hidden">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-1 font-weight-bold text-center" style="color: #201F25">Modifier Votre Profil</h6>
        </div>
        <div class="card-body">
            <form class="forms-sample" th:action="@{/updateAdmin}" method="post" th:object="${updateAdmin}">
                <div class="form-group row">
                    <label for="name" class="col-sm-3 col-form-label">Nom :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="name" id="name" required th:value="${updateAdmin.get().getName()}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="username" class="col-sm-3 col-form-label">Nom d'Utilisateur :</label>
                    <div class="col-sm-9">
                        <input type="hidden" name="usernamechamp" th:value="${updateAdmin.get().getUsername()}" />
                        <input type="text" class="form-control" id="username" disabled th:value="${updateAdmin.get().getUsername()}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-3 col-form-label">Email :</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" name="email" id="email" required th:value="${updateAdmin.get().getEmail()}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phone" class="col-sm-3 col-form-label">Numero de Telephone :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Mobile number" required th:value="${updateAdmin.get().getPhone()}"/>
                    </div>
                </div>
                <div style="position: relative; left: 80%">
                    <button type="submit" class="btn me-2 modifCl"  >Modifier</button>
                    <a class="btn btn-light" th:href="@{/dashHome}">Annuler</a>
                </div>
            </form>

        </div>
    </div>

</div>
</body>
</html>