.pack {
    background-color: #E3E3E3;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
}

.pack h2{
    color: #201F25;
    font-size: 39px;
    padding-bottom: 40px;
    font-family: "Rund Display", sans-serif;

    padding-top: 120px;
}

.pack p{
    color: #201F25;
    font-size: 18px;
    font-family: "Rund Display", sans-serif;
    margin-bottom: 25px;
}

.pack .pack1 .imgpack,.pack .pack2 .imgpack,.pack .pack3 .imgpack {
    width: 100%;
    display: block;
    height: auto;
}

.pack1 .souspack,.pack3 .souspack{
    width: 500px;
    height: auto;
    position: relative;
}
.pack2 .souspack{
    width: 600px;
    height: auto;
    position: relative;
}

.pack1 ,.pack2,.pack3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    margin: 35px 0;
}



.element-superpose1 {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 8px 12px;
    background-color: rgba(255,255,255,0.5);
    height: 40px;
}

.element-superpose1 p {
    font-size: 17px;
    font-family: "Rund Display", sans-serif;
    color: #201F25;
    font-weight: 500;

}

.element-superpose2 {
    position: absolute;
    z-index: 2;
    bottom: 2px;
    left: 0;

}

.supcont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 500px;
}
.pack2 .supcont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 600px;
}

.supcont1 i {
    scale: 1.2;
    color: white;
    margin-left: 20px;
    cursor: pointer;
}


.supcont2 button{

    margin-right: 20px;
    font-size: 15px;
    font-family: "Rund Display", sans-serif;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}



.supcont2 button i {
    scale: 1.2;
    color: black;
}


/*POP UP*/
.overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 31, 37, 0.219);
    z-index: 109;
    display: none;
}
.packbloc {
    position: fixed;
    z-index: 110;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 10px;
    height: 550px;
    width: 400px;
    display: none;
}

.packbloc .imgfood img {
    width: 100%;
    height: 230px;
    border-radius: 10px 10px 0 0;
}

.packbloc .content .cont1 h3{
    font-size: 20px;
    font-family: "Rund Display", sans-serif;
    color: #201F25;
    margin-left: 60px;
}

.packbloc .content .cont1 i{
    scale: 1.4;
    color: #201F25;
    cursor: pointer;
    margin-right: 60px;
}

.packbloc .content .cont1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: auto;
}




.packbloc .content .cont2 h4{
    font-size: 20px;
    font-family: "Rund Display", sans-serif;
    color: #201F25;
    padding-right: 45px;
    margin-left: 60px;
}


.packbloc .content .cont4 p{
    font-size: 14px;
    font-family: "Montserrat",sans-serif;
    color: black;
    font-weight: 600;
    margin: 10px 60px 60px 60px;
    text-align: justify;
}

/*fin pop up*/


